<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_title</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{806,180}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>parallax_bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{635,195}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>gingerbread_house</key>
            <dict>
                <key>frame</key>
                <string>{{636,181},{286,198}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cloud</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{280,128}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>parallax_bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{281,377},{240,48}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_active</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{194,287}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_idle</key>
            <dict>
                <key>frame</key>
                <string>{{195,506},{194,287}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>constructions</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{180,180}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>lantern</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{168,168}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>jelly</key>
            <dict>
                <key>frame</key>
                <string>{{390,426},{144,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>candyfloss</key>
            <dict>
                <key>frame</key>
                <string>{{390,535},{142,94}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>underground</key>
            <dict>
                <key>frame</key>
                <string>{{535,380},{128,128}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>ground</key>
            <dict>
                <key>frame</key>
                <string>{{0,975},{128,20}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>chocolate</key>
            <dict>
                <key>frame</key>
                <string>{{181,794},{108,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cube</key>
            <dict>
                <key>frame</key>
                <string>{{390,630},{108,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>balloon</key>
            <dict>
                <key>frame</key>
                <string>{{535,509},{106,163}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>fruit</key>
            <dict>
                <key>frame</key>
                <string>{{664,380},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>menu_prop_bg</key>
            <dict>
                <key>frame</key>
                <string>{{181,903},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>pause</key>
            <dict>
                <key>frame</key>
                <string>{{290,794},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>restart</key>
            <dict>
                <key>frame</key>
                <string>{{923,169},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cane</key>
            <dict>
                <key>frame</key>
                <string>{{390,739},{86,166}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>about</key>
            <dict>
                <key>frame</key>
                <string>{{281,426},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>gingerbread_wheel</key>
            <dict>
                <key>frame</key>
                <string>{{664,477},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>options</key>
            <dict>
                <key>frame</key>
                <string>{{761,380},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>arrow</key>
            <dict>
                <key>frame</key>
                <string>{{354,426},{27,48}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>torch_body</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{18,156}}</string>
                <key>rotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
