<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_title</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{806,180}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cloud</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{280,128}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_active</key>
            <dict>
                <key>frame</key>
                <string>{{281,181},{194,287}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_idle</key>
            <dict>
                <key>frame</key>
                <string>{{476,181},{194,287}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>constructions</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{180,180}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>lantern</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{168,168}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>parallax_bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{671,181},{155,204}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>parallax_bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{827,169},{151,62}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>jelly</key>
            <dict>
                <key>frame</key>
                <string>{{671,386},{144,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>underground</key>
            <dict>
                <key>frame</key>
                <string>{{827,232},{128,128}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>ground</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{128,20}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>candyfloss</key>
            <dict>
                <key>frame</key>
                <string>{{827,361},{120,120}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>balloon</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{108,168}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>chocolate</key>
            <dict>
                <key>frame</key>
                <string>{{129,491},{108,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cube</key>
            <dict>
                <key>frame</key>
                <string>{{0,681},{108,108}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>fruit</key>
            <dict>
                <key>frame</key>
                <string>{{181,310},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>menu_prop_bg</key>
            <dict>
                <key>frame</key>
                <string>{{109,600},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>pause</key>
            <dict>
                <key>frame</key>
                <string>{{238,469},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>restart</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{96,96}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>about</key>
            <dict>
                <key>frame</key>
                <string>{{238,566},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>options</key>
            <dict>
                <key>frame</key>
                <string>{{335,469},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>cane</key>
            <dict>
                <key>frame</key>
                <string>{{109,697},{60,142}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>arrow</key>
            <dict>
                <key>frame</key>
                <string>{{181,407},{27,48}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>torch_body</key>
            <dict>
                <key>frame</key>
                <string>{{206,600},{18,156}}</string>
                <key>rotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
