<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farm</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{800,800}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>dog</key>
            <dict>
                <key>frame</key>
                <string>{{0,801},{210,95}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>land</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{182,94}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_active_1</key>
            <dict>
                <key>frame</key>
                <string>{{801,95},{145,215}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>crystal_ball_idle_1</key>
            <dict>
                <key>frame</key>
                <string>{{801,311},{145,215}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>ground_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,897},{130,29}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>chocolate_1</key>
            <dict>
                <key>frame</key>
                <string>{{211,801},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>sugar_1</key>
            <dict>
                <key>frame</key>
                <string>{{131,897},{72,72}}</string>
                <key>rotated</key>
                <false/>
            </dict>
            <key>menu1</key>
            <dict>
                <key>frame</key>
                <string>{{0,927},{71,64}}</string>
                <key>rotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
